.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #4e78b1 0%, #68cab8 100%);
  color: white;
}

.image-container {
  height: 40em;
  width: 100%;
  background: no-repeat center fixed;
  background-size: cover;
}

.section-header {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
}

.section-subheader {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.event-section {
  position: relative;
  padding: 5%;
}

.event-section p {
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
  font-weight: bold;
}

.event-button {
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
}

button {
  font-size: 2rem;
  padding: 1rem;
  outline: none;
  border-radius: 5px;
  background-image: linear-gradient(to right top, #4e78b1 0%, #68cab8 100%);
  border: 4px ridge transparent;
  color: white;
  cursor: pointer;
}

form {
  margin: 2% 10%;
  padding: 10%;
  font-size: 2rem;
  line-height: 2rem;
  border: 5px double transparent;
  border-image: linear-gradient(to right top, #68cab8 0%, #4e78b1 100%);
  border-image-slice: 1;
  background-color: white;
  color: #549db9;
}

form input {
  font-size: 2rem;
  color: #549db9;
  border: 1px solid #549db9;
  outline: none;
}

hr {
  border: 1px solid #88a5b1;
}

.personal-details {
  font-size: 2rem;
}