.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(to right top, #4e78b1 0%, #68cab8 100%);
  color: white;
}

.navbar-section{
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);
  position: sticky;
  top: 0;
  background-color: #303d4e;
  overflow: hidden;
  z-index: 100;
  opacity: 0.8;
}

nav {
  min-height: 10vh;
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  max-width: 5em;
  height: 5.5em;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  padding-left: 5em;
  opacity: 0.8;
}

nav ul li a:hover {
  opacity: 1;
}

.menu, .close {
  cursor: pointer;
  border: 1px solid white;
  padding: 1%;
  display: none;
}

.close {
  position: absolute;
  top: 10px;
  right: 0;
  border-radius: 5px;
}

.about-section {
  height: 15em;
  padding: 3em 3em 0;
  text-align: center;
  background-color: linear-gradient(to right top, #68cab8 0%, #4e78b1 100%);
  font-size: 2rem;
}

.shift-overview {
  height: 15em;
  padding: 2em 2em 0;
  text-align: center;
  background-color: linear-gradient(to right top, #68cab8 0%, #4e78b1 100%);
  font-size: 1.5rem;
}

.image-container {
  height: 40em;
  width: 100%;
  background: no-repeat center fixed;
  background-size: cover;
  margin-bottom: 8%;
}

.section-header {
  font-size: 6rem;
  text-align: center;
  text-transform: uppercase;
}

.section-subheader {
  font-size: 3rem;
  text-align: center;
  text-transform: capitalize;
}

.event-section {
  position: relative;
  padding: 5%;
}

.event-section p {
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
  font-weight: bold;
}

.event-button {
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
}

.event-button button a {
  text-decoration: none;
  color: white;
}

button {
  font-size: 2rem;
  padding: 1rem;
  outline: none;
  border-radius: 5px;
  background-image: linear-gradient(to right top, #4e78b1 0%, #68cab8 100%);
  border: 4px ridge transparent;
  color: white;
  cursor: pointer;
}

.registration-section {
  margin: auto 5%;
}

.registration-section h1, .contact-section h3 {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase; 
}

.registration-section h3 {
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize; 
}

form {
  padding: 5%;
  font-size: 2rem;
  line-height: 2rem;
  border: 5px double transparent;
  border-image: linear-gradient(to right top, #68cab8 0%, #4e78b1 100%);
  border-image-slice: 1;
  background-color: white;
  color: #549db9;
  width: 50%;
  margin: 2% auto;
  max-width: 70%;
}

.registration-form input, .contact-form input, textarea {
  font-size: 2rem;
  color: #549db9;
  border: 1px solid #549db9;
  outline: none;
}

.registration-form li, .contact-form li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 5%;
}

.gender-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2rem;
  justify-content: space-between;
}

.registration-form > li > label,
.registration-form li p, .contact-form > li > label {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.registration-form > li > label + *,
.gender-input, .contact-form > li > label + * {
  flex: 1 0 220px;
}

.gender-input li {
  width: 150px;
}

.form-button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: .09em;
}

.display-button {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1em;
}

.display-button button {
  font-size: 1.2rem;
}

.display-button a {
  text-decoration: none;
  color: white;
}

.contact-info {
  text-align: center;
}

.contact-info li {
  list-style-type: none;
  font-size: 1.5rem;
} 

.contact-info li:first-of-type {
  font-size: 2.5rem;
  font-weight: bold;
}

.contact-section h2 {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
}

footer {
  background-color: #303d4e;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0);
  opacity: 0.8;
}